p {
	color:red;
}

h1 {
	color:red;
	background-height:"30"; 
	background-width:"30";
	background-color:"blue";
}

h2 {
	color:blue;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
}
